doctype html
html
  head
    script(src=hashUrl('/js/core-bundle.js'))
    script(src=hashUrl('/js/home-page.js'))
    script(type='text/javascript', src='https://rawgit.com/shutterstock/rickshaw/master/rickshaw.min.js')
    //- link(href='https://raw.github.com/shutterstock/rickshaw/master/rickshaw.min.css')
  body
  #chart

